<html>
  <head>
	  <title>GameShelf - Virtual Shelf</title>
		<style type="text/css">
		  .container {
			    display: grid;
				  grid-template-columns: 1fr 1fr 1fr 1fr;
					grid-gap: 5px;
			}
			.container > .cube {
			    aspect-ratio: 1;
					border-style: solid;
			}
		</style>
  </head>
	<body>
	  <header>{{ template "header" . }}</header>
    <div class="container">
		  {{ range $key, $value := .virtualShelf }}
			 <div class="cube"><h3 class="game-location">{{ $key }}</h3>
			  {{ range $game := $value }}
					<div class="game-info"><a href="/game/{{ $game.GameId }}">{{ $game.Name }}</a></div>
				{{ end }}
				</div>
		 {{ end }}
		</div>
	</body>
</html>
