<html>
  <head>
	  <title>Manage Games</title>
  </head>
	<body>
	  <header>{{ template "header" . }}</header>
		{{ template "new_game" }}
		{{ template "delete_game" }}
	</body>
</html>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard - Gameshelf</title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="/static/css/styles.css" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
		  {{ template "navtop" }}
		  {{ template "navside" }}
			{{ template "content_open" }}
			<h3> Delete Game </h3>
				<form class="content" action="/game/new" method="post">
					<input type="text" name="name" placeholder="Game to Add">
					<input type="text" name="location" placeholder="Game Location">
					<input type="submit" value="Add Game">
				</form>
			{{ template "content_close" }}
		</body>
</html>
