{{ define "delete_game" }}
<h3> Delete a Game </h3>
<form class="content" action="/game/delete" method="post">
    Game name:<input type="text" name="name">
    <input type="submit" value="create">
</form>
{{ end }}
