<html>
  <head>
  </head>
	<body>
	  <header>{{ template "header" . }}</header>
	        <form action="/search" method="post">
            Game:<input type="text" name="game_name">
            <input type="submit" value="search">
        </form>
	</body>
</html>
