<html>
  <head>
  </head>
	<body>
	        <form action="/game/new" method="post">
            Game name:<input type="text" name="name">
            Game location:<input type="text" name="location">
            <input type="submit" value="create">
        </form>
	</body>
</html>
