<html>
  <head>
  </head>
	<body>
	   <ul>
		  {{ range $key, $value := .virtualShelf }}
			  <li>{{ $key }}<ul>
			  {{ range $game := $value }}
					<li>
						<ul>
							<li>{{ $game.GameId }}</li>
							<li>{{ $game.Name }}</li>
						</ul>
					</li>
				{{ end }}
				</ul></li>
		 {{ end }}
		 </ul>
	</body>
</html>
