<html>
  <head>
  </head>
	<body>
	   <ul>
		  {{ range $key, $value := .virtualShelf }}
			  <li>{{ $key }}<ul>
			  {{ range $game := $value }}
					<li><a href="/game/{{ $game.GameId }}">{{ $game.Name }}</a></li>
				{{ end }}
				</ul></li>
		 {{ end }}
		 </ul>
	</body>
</html>
