{{ define "header" }}
<style type="text/css">
  .header-item {
	  display: inline-block;
		border-style: solid;
		border-width: thin;
		padding: 10px;
		border-radius: 5px;
	}
	.content {
  	padding: 10px;
	}
</style>
<div class="header-container">
  <div class="header-item"><a href=/>Home</a></div>
  <div class="header-item"><a href=/games/manage>Manage Games</a></div>
  <div class="header-item"><a href=/games>All Games</a></div>
</div>
{{ end }}
