{{ define "navtop" }}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="/">Gameshelf</a>
    <!-- Navbar Search-->
<!--    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">-->
    <form id='game=search'>
        <div class="input-group">
            <input id="game-filter-text" class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" onkeyup="gameFilter()"/>
        </div>
    </form>
</nav>
{{ end }}
