{{ define "new_game" }}
<h3> Add a Game </h3>
<form class="content" action="/game/new" method="post">
    Game name:<input type="text" name="name">
    Game location:<input type="text" name="location">
    <input type="submit" value="create">
</form>
{{ end }}
